/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}




/* My edits */

html {
	background: #000000;
}
body {
	margin: 1%;
}
h1 {
	font-size: 30px;
	font-family: Verdana, Generva, sans-serif;
	color: #ffffff;
}


#main-div {
	width: 100%;
	height: 50%;
	display: flex;
}
#div1 {
	width: 75%;
	margin-bottom: 1%;
}
header {
	width: 100%;
	display: flex;
	padding: 10px
}
#flag {
	height: 75%;
	column-width: 10%
	padding: 2px;
	margin: 1px;
	vertical-align: middle;
}
header h1 {
	text-align: center;
	font-size: 40px
}
header div {
	height: 100px
}

#nav {
	color: #ffffff;
	margin: 5px;
	text-align: center;
}
#navdiv-1 {
	width: 50%;
	border: 2px solid #ffffff;
	text-align: center;
	align: center;
}
#navdiv-2, #navdiv-3 {
	width: 30%;
	border: 2px solid #ffffff;
}
.nav-h2 {
	text-align: center;
}
#main1 {
	display: flex;
	margin-top: 1%;
}
#box-1 {
	width: ;
	height: 325px;
	border: 2px solid #ff0000;
	background-color: #ffffff;
	
	padding: 5px;
	
	float: left;
	
	line-height: 150%;
	
	display: flex;
}
#red-list {
	padding: 4px;
	border: 3px solid #ff0000;
	background-color: #000000;
	height: 310px
}
.list-color {
	color: #ffffff;
}
#box-2 {
	width: 100%;
	height: 100%;
	border: 2px solid #0000ff;
	
	padding: 5px;
	
	float: left;
	
	text-align: justify;
	text-justify: inter-word;
}
#greeting {
	text-indent: 0em;
	font-size: 20px;
	color: #ffffff;
}
#box2-link {
	text-indent: 0em;
	font-size: 20px;
	color: #ffffff;
	border: 1px solid #ffffff;
	border-radius: 5px;
   	background-color: #ffffff;
   	color: #000000;
   	text-decoration-line: none;
}
#messages {
	text-indent: 0em;
	font-size: 20px;
	color: #ffffff;
}
#message-list {
	color: #ffffff;
	font-size: 15px;
}

#div2 {
	width: 25%;
	float: right;
	margin-left: 1%;
}
#divdiv1 {
	border: 2px solid #ffffff;
	padding-top, padding-bottom, padding-left: 1%;
	padding-right: 2%;
}
#logopic {
	width: 100%;
	border: solid #0f0f0f;
	border-bottom: 3px;
	border-top,border-left,border-right: 4px;
	background-color: #0f0f0f;
}
.side-text {
	color: #FFFFFF;
	text-align: justify;
  	text-justify: inter-word;
	font-size: 80%;
	text-indent: 10%
}




#At-the-bottom {
	color: #ffffff;
	font-size: 15px;
	
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	text-align: center;
}
